<section>
    <div
        class=" mb-4 text-base font-normal text-gray-500 dark:text-gray-400 text-pretty flex flex-col gap-y-4 "
    >
        <p>
            Soy de venezuela y recido en madrid desde hace 8 años. La tecnología
            y las computadoras siempre me han cautivado, y fue esa curiosidad la
            que me motivó a ser desarrollador web. Mi primer trabajo fue una
            página web para una agencia de viajes y desde ese momento me di
            cuenta de lo emocionante que es crear cosas que otros pueden
            utilizar y disfrutar.
        </p>

        <p>
            Fui parte de un bootcamp de Full Stack Web Dev de Ironhack en Madrid
            y viví una experiencia que me impactó: en equipo, comenzamos a
            desarrollar un juego que al principio parecía bastante sencillo e
            incluso un poco deficiente. Sin embargo, con dedicación y
            creatividad conseguimos darle forma hasta quedar asombrados con el
            resultado. En cada proyecto persigo esa sensación de mejorar y
            sobrepasar las expectativas.
        </p>

        <p>
            Cuando estoy bloqueado con un problema, me voy a dar un paseo; las
            pausas siempre me aportan nuevas ideas.
        </p>

        <p>
            Me gusta tanto crear interfaces cautivadoras como solucionar la
            lógica detrás de las mismas, ya que pienso que el desarrollo web es
            una balanza entre lógica y creatividad.
        </p>

        <p>
            Lo que más me incita es toda la innovación tecnológica que nos rodea
            y la oportunidad de ser parte de ella, desarrollando proyectos con
            impacto que continúen estimulando mi interés en adquirir más
            conocimientos.
        </p>
    </div>
</section>
